/* змінні */
:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #434455;
  --primary-title-color: #2e2f42;
  --primary-white-color: #ffffff;
  --primary-acent-color: #4d5ae5;
  --background-dark-color: #2e2f42;
  --active-link-color: #404bbf;
  --btn-bg-color: #f4f4fd;
  --success-color: #31d0aa;
  --subtle-text: #8e8f99;
  --accent-hairlines-color: #e7e9fc;
  --modal-background-color: #fcfcfc;
}
/* main page */
body {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.menu {
  display: flex;
  gap: 40px;
}
.contacts-list-item {
  display: flex;
  gap: 40px;
  align-items: center;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-list-item {
  width: 264px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.nav-link {
  color: var(--primary-title-color);
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--active-link-color);
}
.contacts-list {
  font-style: normal;
}
.contacts {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-text-color);
  padding: 24px 0;
}
.contacts:hover,
.contacts:focus {
  color: var(--active-link-color);
}
.logo {
  display: inline-block;
  color: var(--primary-acent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}
.studio {
  color: var(--background-dark-color);
}
.filter-btn {
  color: var(--primary-acent-color);
  text-align: center;
  background-color: var(--btn-bg-color);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent-hairlines-color);
}
.gallery-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--active-link-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
}
.button-list-portfolio {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.title {
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--background-dark-color);
  line-height: 1.2;
}
.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item {
  width: calc((100% - 2 * 24px) / 3);
}
.portfolio-card-title {
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* .portfolio-text {
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--accent-hairlines-color);
  border-left: 1px solid var(--accent-hairlines-color);
  border-bottom: 1px solid var(--accent-hairlines-color);
} */
.portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--accent-hairlines-color);
  border-top: none;
}
.footer {
  background-color: var(--background-dark-color);
}
.text-footer {
  font-size: 16px;
  font-weight: 400;
  color: var(--btn-bg-color);
  width: 264px;
}
.studio-footer {
  color: var(--btn-bg-color);
}
.hero {
  background-color: var(--background-dark-color);
  padding-bottom: 188px;
  padding-top: 188px;
}
.page-title {
  color: var(--primary-white-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-btn {
  background-color: var(--primary-acent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  border: 0;
  min-width: 169px;
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--active-link-color);
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--primary-title-color);
  text-align: center;
}
.our-work-title {
  margin-bottom: 72px;
}
.img-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.our-team-title {
  margin-bottom: 72px;
}
.background-white-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--accent-hairlines-color);
}
.background-white {
  padding-bottom: 120px;
}
.benefits-section {
  background-color: var(--primary-white-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits-title {
  margin-bottom: 8px;
}
.background-team-section {
  background-color: var(--btn-bg-color);
  padding: 120px 0;
}
.card {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list {
  display: flex;
  gap: 24px;
}
.name {
  text-align: center;
  margin-bottom: 8px;
}
.profession {
  text-align: center;
}
.team-card-info {
  padding: 32px 0;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  color: var(--primary-acent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
